[submodule "vendor/flymake"]
	path = vendor/flymake
	url = https://github.com/illusori/emacs-flymake
[submodule "vendor/flymake-go"]
	path = vendor/flymake-go
	url = https://github.com/robert-zaremba/flymake-go
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = https://github.com/genehack/smart-tab.git
